<div class="container master-container">
    <ul class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "setup", setup_path %></li>
        <li><%= link_to "bootstrap", bootstrap_path %></li>
        <li><%= link_to "devise", devise_path %></li>
    </ul>
    <div class='alert alert-info fade in' data-alert='alert'>
      <h3>
        <strong>
          10 minute apps
        </strong>
      </h3>
      <p>Make apps fast</p>
    </div>
