<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <a href="https://github.com/Nalipp" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
      </a>
      <div class="container">
        <div class="navbar-header">
          <%= link_to "10 minute apps", root_path, class: "navbar-brand" %>
        </div>
      </div>
    </div>
  </header>
